.content{
    width: 100%;
    margin-top: 120px;
    text-align: center;
}
section h1{
    background-image: url("/images/abstract-watercolor-pastel-background_87374-139.webp");
    color:#1D84AF;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, Cambria, "Times New Roman", serif;

}
#contactus{
    margin:50px;
     font-size: 17px;
     text-align: center;
     width:90%;
 
  
 }