footer{
    background-color: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px rgba(231, 155, 101, 0.2);
    margin-top: 10px;
    font-family: 'Arvo', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Square Peg', cursive;

}



  
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .footer-logo img {
    height: 50px;
    margin-right: 20px;
  }
  
  .footer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-details h3 {
    margin-bottom: 10px;
  }
  
  .footer-details p {
    margin: 0;
  }
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-contact h3 {
    margin-bottom: 10px;
  }
  
  .footer-contact p {
    margin: 0;
  }
  