#myInput {
    background-image: url('/images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 90%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #013c61;
    margin-bottom: 12px;
    margin-top: 8px;
    box-shadow: 2px 2px 2px 4px #b0d5e9;
    border-radius: 15px;
  }
  